
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3c5ef; 
    display: flex;
    justify-content: center;
}

h2 {
    color: #333;
    text-align: center;
}


.contact-create {
    background-color: #fb79f4; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10%;
    align-items: flex-end;
    justify-content: right;
    align-content: flex-end;

}

.contact-create:hover {
    background-color: #ce6ef1; 
    color: white;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #ce6ef1;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

form button:hover {
    background-color: #a45de0;
}

a.btn-primary {
    background-color: #ce6ef1;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

a.btn-primary:hover {
    background-color: #a45de0;
}

.user-card {
    display: flex;
    align-items: center;
    background-color: #f8c9db; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px auto;
    transition: box-shadow 0.3s ease;
    width: 100%;
    height: 40%;
}

.user-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}


.card_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}


.user-card-info h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #333;
}

.user-card-info p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}


.user-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card-actions i {
    font-size: 18px;
    color: #777;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user-card-actions i:hover {
    color: #333;
}


.user-card-actions i.fa-pencil-alt:hover {
    color: #ce6ef1; 
}

.user-card-actions i.fa-trash:hover {
    color: #e74c3c; 
}
